{% extends "events/base.html" %} {% load static %} {% block content %}

<style>
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px auto;
    width: 80%;
    max-width: 600px;
  }

  .card-header {
    background-color: #043a40;
    padding: 10px;
    text-align: center;
  }

  .card-body {
    padding: 15px;
  }

  .card-body ul {
    list-style-type: none;
    padding-left: 0;
  }

  .card-body li {
    margin-bottom: 10px;
  }

  .event-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .event-name {
    font-weight: bold;
    font-size: 20px;
    color: #043a40;
  }

  .payment-detail {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  .event-ticket-number {
    font-weight: bold;
    color: #043a40;
    font-size: 20px;
  }

  .event-tickets {
    color: #ba6707;
    font-size: 20px;
    font-weight: bold;
  }

  .event-subtotal,
  .event-service-fee,
  .event-subtotal-fee {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
  }

  .event-subtotal {
    color: green;
  }
  .event-service-fee {
    color: #8f1204;
  }
  .event-subtotal-fee {
    color: #033331;
  }

  .payment-option {
    text-align: center;
    margin-top: 15px;
  }

  .total-amounts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .total-amounts div {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
  }

  .ticket-price-total {
    font-size: 24px;
    color: #033331;
  }

  .service-fee-total {
    color: #8f1204;
    font-size: 24px;
  }
  .grand-total {
    color: green;
    font-size: 24px;
  }

  .choose-payment {
    font-size: 30px;
    color: #043a40;
    font-weight: bold;
    margin-bottom: 25px;
  }

  @media (max-width: 768px) {
    .card {
      width: 90%;
    }

    .payment-logo {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 20px;
    }

    .payment-logo a {
      margin: 10px;
    }

    .payment-img {
      max-width: 120px;
      height: auto;
    }

    .service-fee-total,
    .grand-total,
    .ticket-price-total {
      font-size: 20px;
    }

    .choose-payment {
      font-size: 20px;
    }
  }
</style>

<main class="main">
  <!-- Page Title -->
  <div class="page-title">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <h1 class="mb-2 mb-lg-0">Checkout</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="current">Checkout</li>
          <li><a href="{% url 'cart_page' %}">Go Back</a></li>
        </ol>
      </nav>
    </div>
  </div>

  <!-- Checkout Section -->
  <section id="about" class="checkout section">
    <div class="container">
      <!-- Payment Details Card -->
      <div class="card mb-5">
        <div class="card-header">
          <span class="payment-detail">PAYMENT DETAILS</span>
        </div>
        <div class="card-body">
          {% for event_data in events_in_cart %}
          <div class="event-card">
            <ul>
              <li class="event-name">{{ event_data.event.event_name }}</li>
              <li>
                <span class="event-ticket-number">Tickets:</span>
                <span class="event-tickets">{{ event_data.quantity }}</span>
              </li>
              <li class="event-subtotal">
                Subtotal: NLe {{ event_data.subtotal }}
              </li>
              <li class="event-service-fee">
                Service Fee: NLe {{ event_data.service_fee }}
              </li>
              <li class="event-subtotal-fee">
                Total for Event: NLe {{ event_data.total }}
              </li>
            </ul>
          </div>
          {% endfor %}

          <!-- Totals -->

          <div class="total-amounts">
            <div>
              <strong>Total Ticket Price:</strong>
              <span class="ticket-price-total"
                >NLe {{ total_ticket_price }}</span
              >
            </div>
            <div>
              <strong>Total Service Fee:</strong>
              <span class="service-fee-total">NLe {{ service_fee_total }}</span>
            </div>
            <div>
              <strong>Grand Total:</strong>
              <span class="grand-total">NLe {{ total_price }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Payment Options -->
      <div class="payment-option">
        <span class="choose-payment">Choose Payment Option</span>
        <div class="payment-logo">
          <a href="#" aria-label="Pay with Visa">
            <img
              src="{% static 'assets/img/visa-logo.png' %}"
              alt="Visa"
              class="payment-img"
            />
          </a>
          <a
            href="{% url 'orange_payment' %}"
            aria-label="Pay with Orange Money"
          >
            <img
              src="{% static 'assets/img/orange-money.png' %}"
              alt="Orange Money"
              class="payment-img"
            />
          </a>
          <a href="#" aria-label="Pay with AfriMoney">
            <img
              src="{% static 'assets/img/afrimoney1.png' %}"
              alt="AfriMoney"
              class="payment-img"
            />
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
